 1  <div class="col d-flex justify-content-center">
 2    <div class="card" style="width: 40rem;">
 3      <div class="card-body">
 4        {% if post.image %}
 5          <a href="{{ post.image.url }}" target="_blank">
 6            <img class="border-3 rounded img-fluid img-thumbnail mb-2 mx-auto d-block" src="{{ post.image.url }}">
 7          </a>
 8        {% endif %}
 9        <h5 class="card-title">{{ post.title }}</h5>
10        <h6 class="card-subtitle mb-2 text-muted">
11          <small>
12            {% if not post.is_published %}
13              <p class="text-danger">Пост снят с публикации админом</p>
14            {% elif not post.category.is_published %}
15              <p class="text-danger">Выбранная категория снята с публикации админом</p>
16            {% endif %}
17            {{ post.pub_date|date:"d E Y, H:i" }} | {% if post.location and post.location.is_published %}{{ post.location.name }}{% else %}Планета Земля{% endif %}<br>
18            От автора <a class="text-muted" href="{% url 'blog:profile' post.author.username %}">@{{ post.author.username }}</a> в
19            категории {% include "includes/category_link.html" %}
20          </small>
21        </h6>
22        <p class="card-text">{{ post.text|truncatewords:10 }}</p>
23        {% if post.id %}
24          <a href="{% url 'blog:post_detail' post.id %}" class="card-link">Читать полный текст</a>
25          <a href="{% url 'blog:post_detail' post.id %}" class="card-link text-muted">Комментарии ({{ post.comments.count }})</a>
26        {% else %}
27          <p class="text-warning">Пост временно недоступен</p>
28        {% endif %}
29      </div>
30    </div>
31  </div>