{% extends "base.html" %}
{% block content %}
<h1>Страница пользователя {{ profile_user.username }}</h1>
<div class="mb-3">
  <p>Имя: {{ profile_user.get_full_name|default:"Не указано" }}</p>
  <p>Email: {{ profile_user.email }}</p>
  <p>Дата регистрации: {{ profile_user.date_joined|date:"d E Y" }}</p>
  {% if user == profile_user %}
    <div class="mt-3">
      <a href="{% url 'users:profile_edit' %}" class="btn btn-outline-primary">Редактировать профиль</a>
      <a href="{% url 'password_change' %}" class="btn btn-outline-warning">Изменить пароль</a>
    </div>
  {% endif %}
</div>
<h3>Публикации пользователя</h3>
{% for post in page_obj %}
  <article class="mb-5">
    {% include "includes/post_card.html" %}
  </article>
{% endfor %}
{% include "includes/paginator.html" %}
{% endblock %}
